# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific ignores
data/
mlruns/
checkpoints/

# Virtual environments
venv/
env/
.venv/
miniforge3/

# Logs
*.log
logs/

# MacOS
.DS_Store

# MLflow DB
mlflow.db

# SQLite WAL files
*.db-wal
*.db-shm

# Spark temp
spark-warehouse/

# VS Code
.vscode/

# MLflow backups
mlflow.db.bak
mlruns.bak/